$scale-single0-color: rgb(255, 255, 255);
$scale-single1-color: rgb(255, 255, 204);
$scale-single2-color: rgb(199, 233, 180);
$scale-single3-color: rgb(127, 205, 187);
$scale-single4-color: rgb( 65, 182, 196);
$scale-single5-color: rgb( 29, 145, 192);
$scale-single6-color: rgb( 34,  94, 168);
$scale-single7-color: rgb( 12,  44, 132);

$busy-color:     rgb(255, 255, 255);
$ifneedbe-color: rgb(254, 196,  79);
$free-color:     rgb(120, 198, 121);
