.status-labels .label:not(:first-child){
  margin-left: .25em;
}

.label.available {
  background-color: green;
}

.label.prefernot {
  background-color: orange;
}

.examplecell {
  margin: .5em;
  padding: .5em;
  border: 1px solid black;
  text-align: center;
}

.timegrid td:not(.timegrid__timelabel):hover {
  background-color: green;
  cursor: pointer;
}
